* {
  margin: 0;
  padding: 0;
}
.nav-links {
  color: rgba(203, 200, 200, 0.74);
  font-weight: 600;
  text-decoration: none;
}
.nav-links:hover {
  color: white;
}
.active {
  color: white;
  text-decoration: underline;
  text-underline-offset: 5px;
}
